################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AFFZ_MVC/.vs/AFFZ_MVC/FileContentIndex/3c38d355-4a09-4409-84d9-b8fa206225af.vsidx
/AFFZ_MVC/.vs/AFFZ_MVC/FileContentIndex/58a6bb45-3078-4d5d-af98-6a7100ca891b.vsidx
/AFFZ_MVC/.vs/AFFZ_MVC/FileContentIndex/86ff9ee7-e3f1-4d5d-a3e9-9a837edcc874.vsidx
