################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AFFZ_MVC/bin
/AFFZ_MVC/obj
/AFFZ_MVC/Logs
/AFFZ_API/Logs
/AFFZ_API/.vs
/AFFZ_API/bin
/AFFZ_Provider/obj
/AFFZ_Provider/Logs
/AFFZ_Provider/.vs
/AFFZ_Provider/bin
/AFFZ_Admin/obj
/AFFZ_Admin/.vs
/AFFZ_Admin/bin
/AFFZ_Admin/Logs
/WebFront/.vs
/WebFront/bin
/WebFront/obj
/WebFront/Logs
*.cache
/AFFZ_API/obj
/AFFZ_MVC/.vs
/AspireHost/obj
/AspireHost/bin
/SCAPI.ServiceDefaults/obj