################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AFFZ_MVC/.vs/AFFZ_MVC/FileContentIndex/3c38d355-4a09-4409-84d9-b8fa206225af.vsidx
/AFFZ_MVC/.vs/AFFZ_MVC/FileContentIndex/58a6bb45-3078-4d5d-af98-6a7100ca891b.vsidx
/AFFZ_MVC/.vs/AFFZ_MVC/FileContentIndex/86ff9ee7-e3f1-4d5d-a3e9-9a837edcc874.vsidx
/AFFZ_API/Logs/log-20241126.txt
/AFFZ_API/Logs/log-20241127.txt
/AFFZ_Provider/obj
/AFFZ_Admin/obj/AFFZ_Admin.csproj.nuget.dgspec.json
/AFFZ_Admin/obj/project.assets.json
/AFFZ_Admin/obj/AFFZ_Admin.csproj.nuget.g.props
/AFFZ_Admin/obj/project.nuget.cache
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.AssemblyInfo.cs
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.AssemblyInfoInputs.cache
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.assets.cache
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.csproj.AssemblyReference.cache
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.GeneratedMSBuildEditorConfig.editorconfig
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.RazorAssemblyInfo.cache
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.RazorAssemblyInfo.cs
/AFFZ_Admin/obj/Debug/net8.0/staticwebassets.removed.txt
*.cache
/AFFZ_API/obj/AFFZ_API.csproj.nuget.dgspec.json
/AFFZ_API/obj/AFFZ_API.csproj.nuget.g.props
/AFFZ_API/obj/project.assets.json
/AFFZ_API/obj/Debug/net8.0/AFFZ_API.assets.cache
/AFFZ_API/obj/Debug/net8.0/AFFZ_API.GeneratedMSBuildEditorConfig.editorconfig
/AFFZ_API/obj/Debug/net8.0/staticwebassets.removed.txt
/AFFZ_API/obj/Debug/net8.0/AFFZ_API.AssemblyInfo.cs
/AFFZ_MVC/.vs/AFFZ_MVC/config
/AFFZ_MVC/.vs/AFFZ_MVC/DesignTimeBuild
/AFFZ_MVC/.vs/AFFZ_MVC/FileContentIndex
/AFFZ_MVC/.vs/AFFZ_MVC/v17
/AFFZ_MVC/obj
/AspireHost/obj
/SCAPI.ServiceDefaults/obj/Debug/net8.0/SCAPI.ServiceDefaults.AssemblyInfo.cs
/SCAPI.ServiceDefaults/obj/Debug/net8.0/SCAPI.ServiceDefaults.AssemblyInfoInputs.cache
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.AssemblyInfo.cs
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.AssemblyInfoInputs.cache
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.GeneratedMSBuildEditorConfig.editorconfig
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.RazorAssemblyInfo.cache
/AFFZ_Admin/obj/Debug/net8.0/AFFZ_Admin.RazorAssemblyInfo.cs
/AFFZ_API/Controllers/CategoryWithMerchant.cs
/AFFZ_API/Controllers/NotificationsController.cs
/AFFZ_API/Controllers/ServiceCategoryController.cs
/AFFZ_API/Controllers/TrackServiceStatusHistoryController.cs
/AFFZ_API/obj/Debug/net8.0/AFFZ_API.AssemblyInfo.cs
/AFFZ_API/obj/Debug/net8.0/AFFZ_API.AssemblyInfoInputs.cache
/AFFZ_API/obj/Debug/net8.0/AFFZ_API.GeneratedMSBuildEditorConfig.editorconfig
/AFFZ_API/Utils/CEmailTemplateLoader.cs
/AFFZ_MVC/Views/Pages/SelectedMerchantList.cshtml
/AFFZ_MVC/wwwroot/ServiceImages/1MonthVisaBanner.jpeg
/AFFZ_MVC/wwwroot/assets/img/services/service-04.png
/WebFront/obj/Debug/net8.0/SCAPI.WebFront.AssemblyInfoInputs.cache
/WebFront/obj/Debug/net8.0/SCAPI.WebFront.GeneratedMSBuildEditorConfig.editorconfig
/WebFront/obj/Debug/net8.0/SCAPI.WebFront.RazorAssemblyInfo.cache
/WebFront/Views/Categories/Index.cshtml
/WebFront/wwwroot/ServiceImages/1MonthVisaBanner.jpeg
/WebFront/wwwroot/ServiceImages/Visa_Banner.png
/AFFZ_Admin/Controllers/CategoryClientController.cs
/AFFZ_API/Controllers/CategoryWithMerchant.cs
/WebFront/obj/SCAPI.WebFront.csproj.nuget.g.props
