<!-- Choose Login -->
<div class="col-md-6 col-lg-6 mx-auto">
	<div class="login-wrap">
		<div class="login-header">
			<h3>Login</h3>
		</div>
		<div class="row">

			<!-- Provider Login -->
			<div class="col-md-6 d-flex">
				<div class="choose-Login flex-fill">
					<h6>Providers</h6>
					<div class="choose-img">
						<img src="assets/img/provider.png" alt="image">
					</div>
					<a href="@ViewBag.ProviderUrl" class="btn btn-secondary w-100">Login<i class="feather-arrow-right-circle ms-1"></i></a>
				</div>
			</div>
			<!-- /Provider Login -->
			<!-- User Login -->
			<div class="col-md-6 d-flex">
				<div class="choose-Login flex-fill mb-0">
					<h6>Users</h6>
					<div class="choose-img">
						<img src="assets/img/user.png" alt="image">
					</div>
					<a href="@ViewBag.UserUrl" class="btn btn-secondary w-100">Login<i class="feather-arrow-right-circle ms-1"></i></a>
				</div>
			</div>
			<!-- /User Login -->

		</div>

	</div>
</div>
<!-- /Choose Login -->