@model AFFZ_Customer.Models.Partial.LoginModel
@{
    // TempData["ViewName"] = "Dashboard";
}

<div class="col-md-6 col-lg-6 mx-auto">
    <div class="login-wrap">
        <div class="login-header">
            <h3>Customer Login</h3>
        </div>

        <!-- Login Form -->
        <form action="@Url.Action("CustomersLogin", "Login")" method="post">
            <input type="hidden" name="returnUrl" id="returnUrl" value="@ViewBag.ReturnUrl" />
            <div class="log-form">
                <div class="form-group">
                    <label class="col-form-label">Email</label>
                    <input type="text" class="form-control" placeholder="johndoe@example.com" name="Email" value="@Model.Email">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label">Password</label>
                        </div>
                        <div class="col-auto">
                            <a class="forgot-link" href="password-recovery.html">
                                Forgot password?
                            </a>
                        </div>
                    </div>
                    <div class="pass-group">
                        <input type="password" class="form-control pass-input" placeholder="*************" name="Password" value="@Model.Password">
                        <span class="toggle-password feather-eye-off"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="custom_check">
                            <input type="checkbox" name="rememberme" class="rememberme">
                            <span class="checkmark"></span>Remember Me
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100 login-btn">Login</button>
        </form>
        <div class="login-or">
            <span class="or-line"></span>
            <span class="span-or">OR</span>
        </div>
        <div class="social-login">
            <a href="#" class="btn btn-google w-100"><img src="/assets/img/icons/google.svg" class="me-2" alt="img">Login with Google</a>
        </div>
        <p class="no-acc">Don't have an account? <a href="~/Signup">Register</a></p>
        <!-- /Login Form -->

    </div>
</div>
<script>
    const params = new URL(location.href).searchParams;
    const c = params.get('returnUrl');
    //console.log(c);
    document.getElementById("returnUrl").value = c;
</script>
