
<div class="col-lg-9">

	<!-- Reviews Sort -->
	<div class="row">
		<div class="col-sm-6">
			<div class="widget-title">
				<h4>Reviews</h4>
			</div>
		</div>

		<div class="col-sm-6 text-sm-end">
			<div class="review-sort">
				<p>Sort</p>
				<select class="select">
					<option>Newest</option>
					<option>Highest</option>
					<option>Lowest</option>
				</select>
			</div>
		</div>
	</div>
	<!-- /Reviews Sort -->
	<!-- Review List -->
	<div class="review-list">
		<div class="review-imgs">
			<a href="service-details.html"><img class="rounded img-fluid" src="/assets/img/services/service-12.jpg" alt="image"></a>
		</div>
		<div class="review-info">
			<h5>
				<a href="service-details.html">Building Construction Services.</a>
				<span>Good Work</span>
			</h5>
			<div class="review-user">
				<img class="avatar rounded-circle" src="/assets/img/profiles/avatar-01.jpg" alt="image">Jeffrey Akridge,
				<span class="review-date">July 11, 2023 11:38 am</span>
			</div>
		</div>
		<div class="review-count">
			<div class="rating">
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<div class="review-list">
		<div class="review-imgs">
			<a href="service-details.html"><img class="rounded img-fluid" src="/assets/img/services/service-13.jpg" alt="image"></a>
		</div>
		<div class="review-info">
			<h5>
				<a href="service-details.html">Commercial Painting Services.</a>
			</h5>
			<div class="review-user">
				<img class="avatar rounded-circle" src="/assets/img/profiles/avatar-05.jpg" alt="image">Nancy Olson,
				<span class="review-date">July 05, 2023 05:38 am</span>
			</div>
		</div>
		<div class="review-count">
			<div class="rating">
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<div class="review-list">
		<div class="review-imgs">
			<a href="service-details.html"><img class="rounded img-fluid" src="/assets/img/services/service-14.jpg" alt="image"></a>
		</div>
		<div class="review-info">
			<h5>
				<a href="service-details.html">Plumbing Services.</a>
			</h5>
			<div class="review-user">
				<img class="avatar rounded-circle" src="/assets/img/profiles/avatar-03.jpg" alt="image">Ramona Kingsley,
				<span class="review-date">July 29, 2023 10:38 am</span>
			</div>
		</div>
		<div class="review-count">
			<div class="rating">
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<div class="review-list">
		<div class="review-imgs">
			<a href="service-details.html"><img class="rounded img-fluid" src="/assets/img/services/service-15.jpg" alt="image"></a>
		</div>
		<div class="review-info">
			<h5>
				<a href="service-details.html">Wooden Carpentry Work.</a>
			</h5>
			<div class="review-user">
				<img class="avatar rounded-circle" src="/assets/img/profiles/avatar-04.jpg" alt="image">Ricardo Lung,
				<span class="review-date">July 26, 2023 2:22 am</span>
			</div>
		</div>
		<div class="review-count">
			<div class="rating">
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<div class="review-list">
		<div class="review-imgs">
			<a href="service-details.html"><img class="rounded img-fluid" src="/assets/img/services/service-16.jpg" alt="image"></a>
		</div>
		<div class="review-info">
			<h5>
				<a href="service-details.html">Air Conditioner Service.</a>
			</h5>
			<div class="review-user">
				<img class="avatar rounded-circle" src="/assets/img/profiles/avatar-05.jpg" alt="image">Annette Silva,
				<span class="review-date">July 13, 2023 17:38 am</span>
			</div>
		</div>
		<div class="review-count">
			<div class="rating">
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<div class="review-list">
		<div class="review-imgs">
			<a href="service-details.html"><img class="rounded img-fluid" src="/assets/img/services/service-17.jpg" alt="image"></a>
		</div>
		<div class="review-info">
			<h5>
				<a href="service-details.html">Toughened Glass Fitting Services.</a>
			</h5>
			<div class="review-user">
				<img class="avatar rounded-circle" src="/assets/img/profiles/avatar-06.jpg" alt="image">Stephen Wilson,
				<span class="review-date">July 10, 2023 17:18 pm</span>
			</div>
		</div>
		<div class="review-count">
			<div class="rating">
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<div class="review-list">
		<div class="review-imgs">
			<a href="service-details.html"><img class="rounded img-fluid" src="/assets/img/services/service-18.jpg" alt="image"></a>
		</div>
		<div class="review-info">
			<h5>
				<a href="service-details.html">Car Repair Services.</a>
			</h5>
			<div class="review-user">
				<img class="avatar rounded-circle" src="/assets/img/profiles/avatar-07.jpg" alt="image">Ryan Rodriguez,
				<span class="review-date">July 10, 2023 14:38 pm</span>
			</div>
		</div>
		<div class="review-count">
			<div class="rating">
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
				<i class="fas fa-star filled"></i>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<!-- /Review List -->

	<div class="row">
		<div class="col-sm-6">
			<div class="review-entries">
				<span>Show</span>
				<select>
					<option>10</option>
					<option>25</option>
					<option>50</option>
					<option>100</option>
				</select>
				<span>entries</span>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="review-pagination">
				<p>1 - 7 of 10</p>
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>