@{
    //var paginatedSubCategories = ViewBag.ResponseForDisCountFromMerchant as AFFZ_Customer.Controllers.RequestForDisCountToUserViewModel;
    ViewData["Title"] = "Index";
}
<script src="https://js.stripe.com/v3/"></script>
<!-- Booking -->
<div class="col-lg-9 content book-content">
	<div class="container">
		<div class="row">

			<!-- Booking -->
			<div class="col-lg-10 mx-auto">
				<!-- Booking Done -->
				<div class="row align-items-center">
					<div class="col-md-7">
						<div class="booking-done">
							<h6 style="color: green;">
								Successfully Completed Payment
							</h6>
							<p>Your Booking has been Successfully Competed</p>
							<div class="book-submit">
								<a href="MerchantResponseIndex" class="btn btn-primary"><i class="feather-arrow-left-circle"></i>Next Steps.</a>
								@* <a href="#" class="btn btn-secondary"><i class="fa-solid fa-calendar-days me-2"></i>Add to Calender</a>
								<a href="customer-booking.html" class="btn btn-secondary">Booking History</a> *@
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="booking-done">
							<img src="~/assets/img/booking-done.png" class="img-fluid" alt="image">
						</div>
					</div>
				</div>
				<!-- /Booking Done -->

			</div>
			<!-- /Booking -->

		</div>
	</div>
</div>

<!-- Cursor -->
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
<!-- /Cursor -->
	</div>

<!-- jQuery -->
<script src="assets/js/jquery-3.7.0.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- Fearther JS -->
<script src="assets/js/feather.min.js"></script>

<!-- select CSS -->
<script src="assets/plugins/select2/js/select2.min.js"></script>

<!-- Custom JS -->
<script src="assets/js/script.js"></script>

