@using AFFZ_Customer.Models
@model AFFZ_Customer.Controllers.FileUploadViewModel

@{
    var documentList = ViewBag.DocumentList as List<DocumentInfo>; // Fetch the document list from ViewBag
    ViewData["Title"] = "Upload Documents";
}

<div class="col-lg-9">
    <h6 class="user-title">Upload Your Documents</h6>
    <form method="post" enctype="multipart/form-data" asp-action="UploadDocuments">
        <input type="hidden" name="Merchant" value="@ViewBag.MerchantID" />

        @if (documentList != null && documentList.Any())
        {
            @foreach (var document in documentList)
            {
                <div class="form-group">
                    <label for="fileUpload_@document.ServiceDocumenListtId">@document.ServiceDocumentName:</label>
                    <input type="file" class="form-control" id="fileUpload_@document.ServiceDocumenListtId" name="UserDocuments" accept=".pdf,.jpg,.png" />
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No documents are required to be uploaded.
            </div>
        }

        <div class="alert alert-danger" role="alert" style="display: none;" id="fileError">
            Please select at least one file to upload.
        </div>

        <input type="submit" class="btn btn-primary" value="Upload Files" />
    </form>
</div>


<!-- Scripts -->

    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById('imagePreview');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>