<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>SmartCenter</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="~/assets/js/jquery-ui.css">
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="~/assets/css/feather.css">

    <!-- select CSS -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="~/assets/plugins/aos/aos.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <header class="header header-one">
        <div class="container">
            <partial name="_NavMenu" /> @* " model="@product" /> *@
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>