<nav class="navbar navbar-expand-lg header-nav">
	<div class="navbar-header">
		<a id="mobile_btn" href="javascript:void(0);">
			<span class="bar-icon">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</a>
		<a href="/" class="navbar-brand logo">
			<img src="~/assets/img/logo.png" class="img-fluid" alt="Logo">
		</a>
		<a href="/" class="navbar-brand logo-small">
			<img href="~/assets/img/logo-small.png" class="img-fluid" alt="Logo">
		</a>
	</div>
	<div class="main-menu-wrapper">
		<div class="menu-header">
			<a href="/" class="menu-logo">
				<img href="~/assets/img/logo.png" class="img-fluid" alt="Logo">
			</a>
			<a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
		</div>
		<ul class="main-nav">
			<li class="megamenu active">
				<a href="/">Home @* <i class="fas fa-chevron-down"></i> *@</a>
				@* <ul class="submenu mega-submenu">
					<li>
						<div class="megamenu-wrapper">
							<div class="row">
								<div class="col-lg-2">
									<div class="single-demo active">
										<div class="demo-img">
											<a href="index.html"><img href="~/assets/img/home-01.jpg" class="img-fluid" alt="img"></a>
										</div>
										<div class="demo-info">
											<a href="index.html">Electrical Home</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="single-demo">
										<div class="demo-img">
											<a href="index-2.html"><img href="~/assets/img/home-02.jpg" class="img-fluid" alt="img"></a>
										</div>
										<div class="demo-info">
											<a href="index-2.html">Cleaning Home</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="single-demo">
										<div class="demo-img">
											<a href="index-3.html"><img href="~/assets/img/home-03.jpg" class="img-fluid" alt="img"></a>
										</div>
										<div class="demo-info">
											<a href="index-3.html">Saloon Home</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="single-demo">
										<div class="demo-img">
											<a href="index-4.html"><img href="~/assets/img/home-04.jpg" class="img-fluid" alt="img"></a>
										</div>
										<div class="demo-info">
											<a href="index-4.html">Catering Home</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="single-demo">
										<div class="demo-img">
											<a href="index-5.html">
												<img href="~/assets/img/home-05.jpg"
													 class="img-fluid" alt="img">
											</a>
										</div>
										<div class="demo-info">
											<a href="index-5.html">Car Wash Home</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="single-demo">
										<div class="demo-img">
											<a href="index-6.html">
												<img href="~/assets/img/home-06.jpg"
													 class="img-fluid" alt="img">
											</a>
										</div>
										<div class="demo-info">
											<a href="index-6.html">Cleaning Home</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="single-demo">
										<div class="demo-img">
											<a href="index-7.html">
												<img href="~/assets/img/home-07.jpg"
													 class="img-fluid" alt="img">
											</a>
										</div>
										<div class="demo-info">
											<a href="index-7.html">House Problem Home</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="single-demo">
										<div class="demo-img">
											<a href="index-8.html">
												<img href="~/assets/img/home-08.jpg"
													 class="img-fluid" alt="img">
											</a>
										</div>
										<div class="demo-info">
											<a href="index-8.html">Pet Grooming Home</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="single-demo">
										<div class="demo-img">
											<a href="index-9.html">
												<img href="~/assets/img/home-09.jpg"
													 class="img-fluid" alt="img">
											</a>
										</div>
										<div class="demo-info">
											<a href="index-9.html">Mechanic Home</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul> *@
			</li>
			<li class="has-submenu">
				<a href="javascript:void(0);">Services <i class="fas fa-chevron-down"></i></a>
				<ul class="submenu">
					<li><a href="service-grid.html">Service Grid</a></li>
					<li><a href="service-list.html">Service List</a></li>
					<li class="has-submenu">
						<a href="javascript:void(0);">Service Details</a>
						<ul class="submenu">
							<li><a href="service-details.html">Service Details 1</a></li>
							<li><a href="service-details2.html">Service Details 2</a></li>
						</ul>
					</li>
					<li><a href="search.html">Search</a></li>
					<li class="has-submenu">
						<a href="javascript:void(0);">Providers</a>
						<ul class="submenu">
							<li><a href="providers.html">Providers List</a></li>
							<li><a href="provider-details.html">Providers Details</a></li>
						</ul>
					</li>
					<li><a href="create-service.html">Create Service</a></li>
				</ul>
			</li>
			<li class="has-submenu">
				<a href="javascript:void(0);">Customer <i class="fas fa-chevron-down"></i></a>
				<ul class="submenu">
					<li><a href="customer-dashboard.html">Dashboard</a></li>
					<li><a href="customer-booking.html">Booking</a></li>
					@* <li><a href="customer-favourite.html">Favorites</a></li>*@
					<li><a href="MerchantResponseToUser/Index">Merchant Responses</a></li>
					<li><a href="customer-reviews.html">Reviews</a></li>
					<li><a href="customer-chat.html">Chat</a></li>
					<li><a href="customer-profile.html">Settings</a></li>
				</ul>
			</li>
			<li class="has-submenu">
				<a href="javascript:void(0);">Providers <i class="fas fa-chevron-down"></i></a>
				<ul class="submenu">
					<li><a href="provider-dashboard.html">Dashboard</a></li>
					<li><a href="provider-services.html">My Services</a></li>
					<li><a href="provider-booking.html">Booking</a></li>
					<li><a href="provider-payout.html">Payout</a></li>
					<li class="has-submenu">
						<a href="javascript:void(0);">Settings</a>
						<ul class="submenu">
							<li><a href="provider-appointment-settings.html">Appointment Settings</a></li>
							<li><a href="provider-profile-settings.html">Account Settings</a></li>
							<li><a href="provider-social-profile.html">Social Profiles</a></li>
							<li><a href="provider-security-settings.html">Security</a></li>
							<li><a href="provider-plan.html">Plan & Billings</a></li>
							<li><a href="provider-notifcations.html">Notifications</a></li>
							<li><a href="provider-connected-apps.html">Connected Apps</a></li>
						</ul>
					</li>
					<li><a href="provider-availability.html">Availability</a></li>
					<li><a href="provider-holiday.html">Holidays & Leave</a></li>
					<li><a href="UserRequestToMerchant/Index">Check Requests</a></li>
					<li><a href="provider-offers.html">Offers</a></li>
					<li><a href="MerchantResponseToUser/GetUsersWithDocuments">Reviews</a></li>
					<li><a href="provider-earnings.html">Earnings</a></li>
					<li><a href="provider-chat.html">Chat</a></li>
				</ul>
			</li>
			<li><a href="admin/index.html">Admin</a></li>
			<li class="login-link">
				<a href="@Url.Action("Index", "ChooseSignup")">Register</a>
			</li>
			<li class="login-link">
				<a href="login.html">Login</a>
			</li>
		</ul>
	</div>
	<ul class="nav header-navbar-rht">
		<li class="nav-item">
			<a href="@Url.Action("Index", "ChooseSignup")">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link header-login" href="@Url.Action("Index", "ChooseLogin")"><i class="fa-regular fa-circle-user me-2"></i>Login</a>
		</li>
	</ul>
</nav>
