@model AFFZ_Provider.Controllers.M_SericeDocumentListBindingViewModel

<div class="service-details">
    <h4>@Model.categoryID</h4>
    <p>@Model.serviceDocumentListId</p>
    <!-- Include other fields as necessary -->
</div>