@model AFFZ_Provider.Models.Service

<div class="service-details">
    <h4>@Model.ServiceName</h4>
    <p>@Model.Description</p>
    <p>Price: @Model.ServicePrice</p>
    <!-- Include other fields as necessary -->
</div>