@model AFFZ_Provider.Models.ResetPasswordModel

<link rel="stylesheet" href="~/css/reset-password.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/reset-password.js"></script>

<div class="container">
    <div class="login-wrap">
        <div class="login-header text-center">
            <h3>Reset Password</h3>
        </div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["FailMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["FailMessage"]
            </div>
        }
        <form asp-action="ResetPassword" asp-controller="Login" method="post" id="resetPasswordForm">
            <input type="hidden" asp-for="Token" id="Token" />
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">New Password</label>
                <div class="input-group">
                    <input asp-for="NewPassword" class="form-control" id="NewPassword" type="password" placeholder="*************">
                    <span class="toggle-password feather-eye-off" data-target="NewPassword" onclick="togglePassword(this)"></span>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" type="password" placeholder="*************">
                    <span class="toggle-password feather-eye-off" data-target="ConfirmPassword" onclick="togglePassword(this)"></span>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>
<script>
    function togglePassword(element) {
        const targetInputId = element.getAttribute("data-target");
        const targetInput = document.getElementById(targetInputId);

        if (targetInput.type === "password") {
            targetInput.type = "text";
            element.classList.remove("feather-eye-off");
            element.classList.add("feather-eye");
        } else {
            targetInput.type = "password";
            element.classList.remove("feather-eye");
            element.classList.add("feather-eye-off");
        }
    }
</script>